.main.pass {
    padding: 96px 256px 0 259px;

    display: flex;
    flex-direction: row;
    
    background-color: #E5E5E5;
}

.section.pass {
    width: 960px;
    margin-left: 83px;
}

.add-passanger {
    margin-bottom: 103px;
}

.add-passanger-button {
    position: relative;

    width: 960px;
    height: 97px;
    padding-left: 26px;

    border: 1px solid #c4c4c4;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
    
    text-align: left;
    font-weight: 400;
    font-size: 30px;
    color: #292929;
}

.add-passanger-button::before {
    content: '';
    
    position: absolute;
    left: 904px;
    bottom: 40px;

    width: 19px;
    height: 19px;

    background-image: url(/public/img/passangers/add-pass-plus.png);
}

.next-passanger {
    margin-bottom: 140px;
    margin-left: 738px;
}

.next-passanger-button {
    width: 222px;
    height: 60px;
    padding-top: 15px;

    border-radius: 5px;
    background: #928f94;
    
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.next-passanger-button:focus {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.validate-error {
    padding: 37px 0 37px 25px;
    display: flex;
    flex-direction: row;
    align-items:center;
    background: rgba(255, 61, 0, 0.38);
}

.validate-error-image {
    background-image: url(/public/img/passangers/Subtract.png);
    width: 32px;
    height: 32px;
    margin-right: 15px;
}

.next-passanger-button.active {
    cursor: pointer;
    background: #ffa800;
}

.validate-error.success {
    background: #b2f6a1;
}

.validate-error-image.success {
    background-image: url(/public/img/passangers/Subtract-succsses.png)
}