.main.validate {
    padding: 96px 256px 0 259px;

    display: flex;
    flex-direction: row;
    
    background-color: #E5E5E5;
}

.section.validate {
    width: 960px;
    
    margin-left: 83px;
}

.validate-form {
    width: 100%;

    margin-bottom: 46px;
}

.validate-form-head {
    padding: 33px 0 30px 30px;

    background: #fff;
    border: 1px solid #c4c4c4;
    border-bottom: none;
}

.form-title {
    font-weight: 400;
    font-size: 30px;
    color: #292929;
}

.validate-button{
    margin-left: 637px;
    margin-bottom: 181px;
}

.validate-button > button {
    width: 323px;
    height: 60px;
    
    border: none;
    border-radius: 5px;
    background: #ffa800;
    
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.validate-button > button:focus {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.validate-button > button:active {
    border: 1px solid #ffa800;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: transparent;
    color: #ffa800;
}