.header {
    position: absolute;
    z-index: 999;

    width: 100%;
    max-width: 1920px;
}

.header-navigation_logo {
    padding-left: 258px;

    background-color: rgba(0, 0, 0, 0.6);
}

.logo-img {
    font-weight: 900;
    font-size: 36px;
    color: #e5e5e5;
}

.header-navigation_list {
    padding-left: 258px;
    
    background-color: #292929;
}

.navigation_list-items {
    display: flex;
    
    padding-top: 25px;
    padding-bottom: 25px;
}

.list-item:nth-child(n + 1) {
    margin-right: 83px;
}

.item-link {
    font-weight: 300;
    font-size: 30px;
    color: #fff;
}