.section-feedback {
    padding: 152px 268px 0 252px;
}

.feedback-title {
    margin-bottom: 72px;
    
    font-weight: 500;
    font-size: 36px;
    text-transform: uppercase;
    color: #292929;
}

.feedback-content {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 137px;
}

.feedback-item {
    max-width: 700px;
    margin-right: 85px;

    display: flex;
    flex-direction: row;
}

.feedback-item-title {
    margin: 28px 0;
}

.feedback-item-img {
    height: 215px;
    margin-right: 35px;
}

.feedback-item-text {
    max-width: 380px;
    position: relative;

    font-weight: 300;
    font-size: 18px;
    color: #928f94;
}

.quote-left {
    position: absolute;
    left: -16px;
    top: 0;
}

.quote-right {
    margin-left: 10px;
}

.feedback-footer {
    padding-bottom: 122px;
    
    text-align: center;
}

.feedback-footer-btn {
    height: 20px;
    width: 20px;
    margin-right: 11px;
    
    background: #e5e5e5;
    border: none;
    border-radius: 100%;
    cursor: pointer;
}

.feedback-footer-btn.selected {
    background: #c4c4c4;
}