button {
  cursor: pointer;
}

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}


a, a:hover, a:visited, a:active {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

#root {
  width: 1920px;
  height: auto;
  margin: auto;
  font-family: Roboto;
}

.section {
  margin-left: 82px;
}

.main {
  padding-top: 95px;
  background-color: #F4F2F6;
}