.banner {
    position: relative;

    background: rgba(41, 41, 41, 0.6);
}

.banner-title {
    position: absolute;
    bottom: 233px;
    left: 349px;
    
    max-width: 500px;
    margin-left: 60px;
    
    font-weight: 100;
    font-size: 72px;
    color: #fff;
} 

.banner.home::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;
    
    width: 1920px;
    height: 8px;

    background-color: #FFA800;
}

